@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');

body{
    margin: 0;
}
#about 
{
    border:10px solid white ;
    border-radius: 20px;
}
#explore .col-md-6
{
    border: 10px solid white;
    border-radius: 20px;
}

#explore img
{
 
  margin-bottom: -48px;
 
}

.site-header {
    background-color: rgb(32, 30, 30);
}
.site-header .container a 
{
    text-decoration: none;
}
footer{
    border-radius: 10px;
}
footer .list1 h4 a
{
    font-size: 15px;
}

